/* These properties change the styling of the grid */
.App {
  text-align: center; /* This causes the grid to be centered */
  font-size: 0; /* This eliminates the spacing between elements in the grid */
  margin-top: 50px;
}

/* .grid {
  margin-top: 100px;
} */

.clear-btn {
  margin-top: 10px;
  margin-bottom: 25px;
  background: #5dc8cd;
  padding: 12px 12px;
  border: 0 none;
  border-radius: 5px;
}
.clear-btn:hover {
  background: #01939a;
}

.node {
  height: 40px;
  width: 40px;
  display: inline-block;
  outline: 1px solid paleturquoise;
}

.paint {
  background-color: darkblue;
}
